@import url("normalize.css");

/* mitr-regular - latin_thai */
@font-face {
  font-display: swap;
  font-family: "Mitr";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/mitr-regular.woff2") format("woff2"),
    url("/fonts/mitr-regular.ttf") format("truetype");
}

/* mitr-medium - latin_thai */
@font-face {
  font-display: swap;
  font-family: "Mitr";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/mitr-medium.woff2") format("woff2"),
    url("/fonts/mitr-medium.ttf") format("truetype");
}

/* mitr-bold - latin_thai */
@font-face {
  font-display: swap;
  font-family: "Mitr";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/mitr-bold.woff2") format("woff2"),
    url("/fonts/mitr-bold.ttf") format("truetype");
}

:root {
  --bn-primary-bgColor: #f8f8f8;
  --bn-primary-textColor: #000;
  --bn-second-bgColor: #fff;
}

body {
  font-family: "Mitr", sans-serif;
  background-color: var(--bn-primary-bgColor, #f8f8f8);
  color: var(--bn-primary-textColor, #000);
}

.header-container {
  padding: 1em 0.6em;
  display: flex;
  justify-content: space-between;
  background-color: var(--bn-second-bgColor, #fff);
}
