<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bunnoon</title>
  <base href="/">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <header id="header" class="header-container">
    <a href="/" title="หน้าแรกของ Bunnoon">
      <img src="#" alt="LOGO">
    </a>
    <div>Menu</div>
  </header>
  <nav id="navbar" class="navbar-container">
    <a href="" title="" class="nb-link !onsite"><p>หน้าแรก</p></a>
    <a href="" title="" class="nb-link"><p>อนิเมะล่าสุด</p></a>
    <a href="" title="" class="nb-link"><p>อนิเมะยอดนิยม</p></a>
    <a href="" title="" class="nb-link"><p>อนิเมะตามปี</p></a>
    <a href="" title="" class="nb-link"><p>หมวดหมู่</p></a>
    <a href="" title="" class="nb-link"><p>เกี่ยวกับ</p></a>
    <a href="" title="" class="nb-link"><p>ติดต่อ</p></a>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  <script defer src="/static/js/main.js"></script>
</body>
</html>